:root {
  --bgColor: #FFFFFF;
  --secondBgColor: #1E6140;
  --textColor: rgba(0, 0, 0, 0.6);
  --whiteTextColor: #ffffff;
  --accentColor: #84C551;
  --secondTextColor: #000000;
  --secondAccentColor: #8C3213;
  --btnColor: #E74E13;
  --btnCard: #8D3200;
  --time: 250ms;
  --duration: cubic-bezier(0.4, 0, 0.2, 1);
  --mobile: 320px;
  --tablet: 768px;
  --desktop: 1200px;
  --bigDesktop: 1920px;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  min-width: var(--mobile);
  margin: 0;
  color: var(--textColor);
  background: radial-gradient(50% 50% at 50% 50%, rgba(231, 78, 19, 0.1) 0%, rgba(231, 78, 19, 0) 100%), radial-gradient(50% 50% at 50% 50%, rgba(132, 190, 81, 0.3) 0%, rgba(210, 230, 189, 0) 100%);
  background-size: 713px 713px, 1068px 1068px;
  background-repeat: repeat;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.21888;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 16px;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.section {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 0 30px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 0 45px;
  }
}
@media screen and (min-width: 1920px) {
  .section {
    padding: 0 405px;
    max-width: 1920px;
  }
}

.title {
  font-weight: 700;
  font-size: 22px;
  color: var(--secondTextColor);
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 45px;
  }
}
.title .title__left {
  margin-right: 9px;
}
@media screen and (min-width: 768px) {
  .title .title__left {
    width: 32px;
    height: 25px;
    margin-right: 13px;
  }
}
@media screen and (min-width: 1200px) {
  .title .title__left {
    margin-right: 17px;
  }
}
.title .title__right {
  margin-left: 9px;
  transform: rotate(90deg);
}
@media screen and (min-width: 768px) {
  .title .title__right {
    width: 32px;
    height: 25px;
    margin-left: 13px;
  }
}
@media screen and (min-width: 1200px) {
  .title .title__right {
    margin-left: 17px;
  }
}
.title.white {
  color: var(--whiteTextColor);
}

.description {
  color: var(--textColor);
}
.description span {
  font-weight: 700;
  color: var(--secondBgColor);
}
.description:not(:last-child) {
  margin-bottom: 10px;
}
.description.white {
  color: var(--whiteTextColor);
}

.hero__title {
  display: flex;
  align-items: flex-start;
  font-weight: 700;
  font-size: 25px;
  color: var(--secondTextColor);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 55px;
    align-items: baseline;
  }
}
.hero__title p {
  font-weight: 300;
}
.hero__title svg {
  flex-shrink: 0;
  margin-right: 12px;
}

.hero__description {
  font-size: 16px;
  color: var(--textColor);
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn {
  display: block;
  padding: 15px 0;
  margin: 0;
  background-color: var(--btnColor);
  border-radius: 90px;
  font-weight: 700;
  text-align: center;
  color: var(--whiteTextColor);
  width: 290px;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .btn {
    width: 220px;
  }
}

.nav__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.nav__btn .menu-close {
  fill: var(--accentColor);
}
@media screen and (min-width: 1200px) {
  .nav__btn {
    display: none;
  }
}
.nav__btn .visible {
  display: none;
}

.btn__shopping-cart,
.btn__comparison {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--secondAccentColor);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.btn__shopping-cart svg,
.btn__comparison svg {
  fill: var(--secondAccentColor);
}
.btn__shopping-cart.white,
.btn__comparison.white {
  border: 1px solid var(--whiteTextColor);
}
.btn__shopping-cart.white svg,
.btn__comparison.white svg {
  fill: var(--whiteTextColor);
}
@media screen and (min-width: 1200px) {
  .btn__shopping-cart,
  .btn__comparison {
    margin-left: 15px;
  }
}

.btn__comparison {
  margin-left: 11px;
}
.btn__comparison svg {
  fill: var(--secondAccentColor);
}
.btn__comparison.white {
  border: 1px solid var(--whiteTextColor);
}
.btn__comparison.white svg {
  fill: var(--whiteTextColor);
}
@media screen and (min-width: 1200px) {
  .btn__comparison {
    margin-left: 15px;
  }
}

.btn__heart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  cursor: pointer;
  background-color: var(--secondAccentColor);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.btn__heart.white {
  background-color: transparent;
  border: 1px solid var(--whiteTextColor);
}
@media screen and (min-width: 1200px) {
  .btn__heart {
    box-shadow: 0px 5px 14px rgba(140, 50, 19, 0.3);
  }
}
@media screen and (max-width: 1199px) {
  .btn__heart.format {
    display: none;
  }
}

.zoom__btn {
  display: flex;
  align-items: center;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.zoom__btn::before {
  display: block;
  content: "";
  width: 1px;
  height: 28px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-right: 14px;
}

@media screen and (max-width: 768px) {
  .about__btn {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .about__btn {
    margin-top: auto;
  }
}

.new__mainBtn {
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .seed__btn {
    padding: 0;
    border: none;
    cursor: pointer;
    font-weight: 700;
    color: var(--whiteTextColor);
    background-color: transparent;
  }
  .seed__btn span {
    font-size: 16px;
    text-decoration-line: underline;
  }
  .seed__btn .visible {
    display: none;
  }
  .seed__btn svg {
    margin-left: 8px;
    fill: var(--whiteTextColor);
  }
  .seed__btn .arrow-up {
    transform: rotate(180deg);
  }
}
@media screen and (min-width: 768px) {
  .seed__btn {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .choose__btn {
    padding: 0;
    border: none;
    cursor: pointer;
    font-weight: 700;
    color: var(--whiteTextColor);
    background-color: transparent;
  }
  .choose__btn span {
    font-size: 16px;
    text-decoration-line: underline;
  }
  .choose__btn .visible {
    display: none;
  }
  .choose__btn svg {
    margin-left: 8px;
    fill: var(--whiteTextColor);
  }
  .choose__btn .arrow-up {
    transform: rotate(180deg);
  }
}
@media screen and (min-width: 1200px) {
  .choose__btn {
    display: none;
  }
}

.hero__wrapper .hero__btn {
  margin-top: 23px;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .hero__wrapper .hero__btn {
    display: none;
  }
}

.hero__pic .hero__btn {
  margin: 17px auto 0 auto;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .hero__pic .hero__btn {
    display: none;
  }
}

.description__btn {
  position: absolute;
  right: 15%;
  bottom: 17%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--bgColor);
  border: none;
  border-radius: 50%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color var(--time) var(--duration);
}
.description__btn svg {
  fill: var(--btnCard);
  transition: fill var(--time) var(--duration);
}
.description__btn:hover, .description__btn:focus {
  background-color: var(--btnCard);
}
.description__btn:hover svg, .description__btn:focus svg {
  fill: var(--whiteTextColor);
}

.new__btn {
  position: absolute;
  top: 0;
  right: 5%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 15px;
}
.new__btn svg {
  fill: var(--btnCard);
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid var(--secondAccentColor);
  background-color: transparent;
  border-radius: 50%;
  margin-right: 6px;
  transition: background-color var(--time) var(--duration);
}
.footer__btn svg {
  fill: var(--secondAccentColor);
  transition: fill var(--time) var(--duration);
}
.footer__btn:hover, .footer__btn:focus {
  background-color: var(--secondAccentColor);
}
.footer__btn:hover svg, .footer__btn:focus svg {
  fill: var(--whiteTextColor);
}
.footer__btn.white {
  border: 1px solid var(--whiteTextColor);
}
.footer__btn.white svg {
  fill: var(--whiteTextColor);
}

.header__nav {
  background-color: var(--secondBgColor);
  display: flex;
  justify-content: space-between;
}
.header__nav.active {
  background-color: rgba(30, 97, 64, 0.9);
}

@media screen and (max-width: 1199px) {
  .nav__inner {
    position: absolute;
    z-index: 1;
    top: 52px;
    left: 0;
    width: 100%;
    padding: 20px 15px 50px 15px;
    background-color: var(--secondBgColor);
    transform: translateX(-100%);
    transition: transform 0.5s;
  }
}
@media screen and (max-width: 1199px) and (min-width: 768px) {
  .nav__inner {
    padding: 20px 30px 50px 30px;
  }
}
@media screen and (max-width: 1199px) {
  .nav__inner.active {
    transform: translateX(0);
  }
}

.nav__mobile-menu {
  padding-bottom: 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.nav__mobile-menu .icon-logo {
  fill: var(--whiteTextColor);
}
@media screen and (min-width: 1200px) {
  .nav__mobile-menu {
    display: none;
  }
}

.mobile-menu__first-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.mobile-menu__first-part div {
  display: flex;
  align-items: center;
}

.mobile-menu__second-part {
  display: flex;
  margin-bottom: 20px;
}

.second-part__form {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--bgColor);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 90px;
  padding: 6px 20px;
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  .second-part__form {
    width: 342px;
  }
}
@media screen and (min-width: 1200px) {
  .second-part__form {
    margin-left: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .second-part__form.format {
    display: none;
  }
}

.second-part__input {
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 16px;
  color: #484848;
}
.second-part__input:focus {
  border: none;
}

.mobile-menu__third-part {
  display: flex;
  align-items: center;
}

.mobile-menu__price {
  font-weight: 700;
  font-size: 12px;
  color: var(--secondTextColor);
  margin-left: 7px;
}
.mobile-menu__price.white {
  color: var(--whiteTextColor);
}

@media screen and (max-width: 1199px) {
  .nav__list {
    padding-top: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__list {
    display: flex;
    padding: 15px 0;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
}

@media screen and (max-width: 1199px) {
  .nav__item {
    text-align: center;
  }
  .nav__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .nav__item {
    margin-right: 54px;
  }
}

.nav__link {
  font-weight: 300;
  font-size: 22px;
  color: var(--whiteTextColor);
}
@media screen and (min-width: 1200px) {
  .nav__link {
    font-size: 16px;
  }
}

.nav__exit {
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.exit__item:first-child {
  display: flex;
  align-items: center;
}
.exit__item:first-child svg {
  margin-right: 8px;
}
.exit__item:first-child::after {
  display: block;
  content: "";
  width: 1px;
  height: 15px;
  background-color: var(--whiteTextColor);
  margin-left: 8px;
  margin-right: 8px;
}

.exit__link {
  font-weight: 300;
  font-size: 18px;
  color: var(--whiteTextColor);
}
@media screen and (min-width: 1200px) {
  .exit__link {
    font-size: 16px;
  }
}

.section__hero {
  padding-top: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(243.78deg, #FCFDFA 45.43%, rgba(255, 255, 255, 0) 95.72%), linear-gradient(181.56deg, #FEFDF4 1.32%, rgba(255, 255, 255, 0) 62.39%), url(../../images/hero/bg_mobile.png);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section__hero {
    background-image: url(../../images/hero/bg@2x_mobile.png);
  }
}
@media screen and (min-width: 768px) {
  .section__hero {
    background-image: linear-gradient(255.06deg, #FCFDFA 8.87%, rgba(255, 255, 255, 0) 85.66%), linear-gradient(181.56deg, #FEFDF4 1.32%, rgba(255, 255, 255, 0) 62.39%), url(../../images/hero/bg_desktop.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section__hero {
    background-image: url(../../images/hero/bg@2x_desktop.png);
  }
}
@media screen and (max-width: 767px) {
  .section__hero {
    padding-bottom: 41px;
  }
}
@media screen and (min-width: 1920px) {
  .section__hero {
    background-size: 1284px 852px;
    max-width: 1920px;
  }
}

.hero__head {
  margin-bottom: 19px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .hero__head {
    margin-bottom: 22px;
  }
}

@media screen and (min-width: 1200px) {
  .head__icon-logo {
    width: 158px;
    height: 71px;
  }
}

.hero__call {
  display: flex;
  margin-left: 57px;
  margin-right: 57px;
}
@media screen and (max-width: 1199px) {
  .hero__call {
    display: none;
  }
}

.hero__group-btn {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.hero__choose {
  margin-bottom: 25px;
}
@media screen and (min-width: 1200px) {
  .hero__choose {
    display: flex;
    justify-content: center;
    margin-bottom: 89px;
  }
}

.choose__item {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .choose__item {
    flex-direction: row;
  }
}

@media screen and (max-width: 1199px) {
  .choose__submenu.hidden {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .choose__submenu {
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .submenu__item {
    margin-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .submenu__item {
    margin-left: 27px;
  }
}

.choose__link {
  cursor: pointer;
  background-color: transparent;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--secondBgColor);
  border-radius: 20px;
  transition: all var(--time) var(--duration);
}
@media screen and (max-width: 1199px) {
  .choose__link {
    width: 289px;
    height: 47px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .choose__link {
    width: 200px;
    height: 40px;
    border: 1px solid var(--secondBgColor);
  }
}
.choose__link svg {
  fill: var(--accentColor);
  margin-right: 5px;
  transition: fill var(--time) var(--duration);
}
.choose__link span {
  font-weight: 600;
  font-size: 14px;
  color: var(--secondTextColor);
  text-transform: uppercase;
  transition: color var(--time) var(--duration);
}
.choose__link:hover, .choose__link:focus, .choose__link.current {
  background-color: var(--btnColor);
  border: none;
  border-radius: 20px;
}
.choose__link:hover svg, .choose__link:focus svg, .choose__link.current svg {
  fill: var(--whiteTextColor);
}
.choose__link:hover span, .choose__link:focus span, .choose__link.current span {
  color: var(--whiteTextColor);
}
@media screen and (min-width: 1200px) {
  .choose__link .seed__btn {
    display: none;
  }
}
.choose__link div {
  display: flex;
  align-items: baseline;
}

@media screen and (max-width: 767px) {
  .hero {
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 0 0 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 0 0 0 45px;
  }
}
@media screen and (min-width: 1920px) {
  .hero {
    padding: 0 0 0 405px;
  }
}

@media screen and (max-width: 767px) {
  .hero__wrapper {
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 768px) {
  .hero__wrapper {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1920px) {
  .hero__wrapper {
    width: 605px;
    margin-right: 105px;
  }
}

.hero__pic {
  position: relative;
}
@media screen and (min-width: 768px) {
  .hero__pic {
    flex-basis: calc((100% - 30px) / 2);
  }
}

.hero__leaf1 {
  position: absolute;
  width: 246px;
  height: 178px;
  z-index: 1;
  bottom: -10px;
  left: -35px;
  background-repeat: no-repeat;
  background-image: url(../../images/about/leaf1.png);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__leaf1 {
    background-image: url(../../images/leaf1@2x.png);
  }
}
@media screen and (max-width: 767px) {
  .hero__leaf1 {
    background-size: 98px 71px;
  }
}
@media screen and (min-width: 768px) {
  .hero__leaf1 {
    bottom: 0;
    left: -157px;
  }
}
@media screen and (min-width: 1920px) {
  .hero__leaf1 {
    bottom: 10%;
  }
}

.hero__leaf2 {
  position: absolute;
  width: 152px;
  height: 110px;
  z-index: 1;
  bottom: -15px;
  left: -30px;
  background-repeat: no-repeat;
  background-image: url(../../images/about/leaf2.png);
  filter: blur(2px);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__leaf2 {
    background-image: url(../../images/leaf2@2x.png);
  }
}
@media screen and (max-width: 767px) {
  .hero__leaf2 {
    background-size: 60px 44px;
  }
}
@media screen and (min-width: 768px) {
  .hero__leaf2 {
    bottom: -10px;
    left: -90px;
  }
}
@media screen and (min-width: 1920px) {
  .hero__leaf2 {
    bottom: 6%;
  }
}

.hero__leaf3 {
  position: absolute;
  width: 152px;
  height: 110px;
  z-index: 1;
  top: -40px;
  right: 0;
  background-repeat: no-repeat;
  background-image: url(../../images/about/leaf2.png);
  filter: blur(2px);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__leaf3 {
    background-image: url(../../images/leaf2@2x.png);
  }
}
@media screen and (max-width: 1199px) {
  .hero__leaf3 {
    background-size: 102px 73px;
  }
}
@media screen and (min-width: 768px) {
  .hero__leaf3 {
    top: -35px;
    right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .hero__leaf3 {
    background-image: url(../../images/about/leaf3.png);
    width: 246px;
    height: 178px;
    top: -20%;
    right: 0;
  }
}

.hero__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 802px;
}

.section__about {
  margin: 0 auto;
  padding: 40px 15px 0 15px;
}
@media screen and (min-width: 768px) {
  .section__about {
    display: flex;
    justify-content: space-between;
    padding: 40px 30px 0 30px;
  }
  .section__about div {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .section__about {
    padding: 108px 45px 0 45px;
  }
}
@media screen and (min-width: 1920px) {
  .section__about {
    padding-top: 108px;
    width: 1400px;
  }
  .section__about div {
    flex-basis: 50%;
  }
}

.about__pic {
  position: relative;
}
@media screen and (min-width: 1920px) {
  .about__pic {
    margin-right: 120px;
  }
}

@media screen and (max-width: 768px) {
  .about__leaf1 {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .about__leaf1 {
    position: absolute;
    width: 246px;
    height: 178px;
    z-index: 1;
    bottom: 10%;
    left: -10%;
    background-repeat: no-repeat;
    background-image: url(../../images/about/leaf1.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .about__leaf1 {
    background-image: url(../../images/leaf1@2x.png);
  }
}

@media screen and (max-width: 768px) {
  .about__leaf2 {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .about__leaf2 {
    position: absolute;
    width: 152px;
    height: 110px;
    z-index: 1;
    bottom: -5%;
    left: 10%;
    background-repeat: no-repeat;
    background-image: url(../../images/about/leaf2.png);
    filter: blur(2px);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .about__leaf2 {
    background-image: url(../../images/leaf2@2x.png);
  }
}

.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 767px) {
  .about__img {
    margin-bottom: 24px;
    max-width: 683px;
    border-radius: 0 155px;
  }
}
@media screen and (min-width: 768px) {
  .about__img {
    border-radius: 0 155px;
  }
}

@media screen and (min-width: 768px) {
  .about__wrapper {
    display: flex;
    flex-direction: column;
  }
}

.about__description {
  margin-top: 11px;
  margin-bottom: 31px;
}
@media screen and (min-width: 1200px) {
  .about__description {
    margin-top: 25px;
    margin-bottom: 37px;
  }
}

.new__section {
  padding: 35px 0 40px 0;
}
@media screen and (min-width: 768px) {
  .new__section {
    padding: 87px 0 120px 0;
  }
}
@media screen and (min-width: 1200px) {
  .new__section {
    padding: 87px 30px 120px 30px;
  }
}
@media screen and (min-width: 1920px) {
  .new__section {
    padding: 87px 250px 120px 250px;
  }
}
.new__section.background {
  background-color: var(--secondBgColor);
}
@media screen and (min-width: 768px) {
  .new__section.background {
    padding-bottom: 105px;
  }
}

.new__title {
  text-align: center;
}

.slider__inner {
  position: relative;
  margin-top: 14px;
}
@media screen and (min-width: 768px) {
  .slider__inner {
    margin-top: 39px;
  }
}
@media screen and (min-width: 1200px) {
  .slider__inner {
    margin-left: auto;
    margin-right: auto;
    width: 885px;
  }
}
@media screen and (min-width: 1920px) {
  .slider__inner {
    width: 1140px;
  }
}

.slider__item {
  position: relative;
  background-color: var(--bgColor);
  border-radius: 20px;
  padding: 31px 10px 10px 10px;
}
@media screen and (max-width: 768px) {
  .slider__item {
    box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.15);
  }
}

.new__img {
  margin: 0 auto 32px auto;
}

.new__description {
  position: relative;
  background-color: rgba(140, 50, 19, 0.06);
  border-radius: 20px;
  padding: 20px 20px 25px 20px;
}

.description__title {
  font-weight: 600;
  font-size: 14px;
  color: var(--secondTextColor);
}
@media screen and (min-width: 768px) {
  .description__title {
    font-size: 16px;
  }
}

.description__lable {
  font-weight: 400;
  font-size: 14px;
  color: var(--secondBgColor);
  margin-bottom: 17px;
}

.description__price {
  font-weight: 700;
  font-size: 18px;
  color: var(--accentColor);
}

.description__quantity {
  font-weight: 400;
  font-size: 14px;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slider__inner .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -70px 0 0 0;
  z-index: 1;
  font-size: 0;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--accentColor);
  padding: 25px;
  transition: background-color var(--time) var(--duration);
}
.slider__inner .slick-arrow:hover, .slider__inner .slick-arrow:focus {
  background-color: var(--accentColor);
}

.slider__inner .slick-arrow.slick-prev {
  left: -90px;
  width: 20px;
  height: 20px;
  background-image: url(/images/new/arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image var(--time) var(--duration);
}
.slider__inner .slick-arrow.slick-prev:hover, .slider__inner .slick-arrow.slick-prev:focus {
  background-image: url(/images/new/arrow-white.svg);
}

.slider__inner .slick-arrow.slick-next {
  right: -90px;
  width: 20px;
  height: 20px;
  background-image: url(/images/new/arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  transition: background-image var(--time) var(--duration);
}
.slider__inner .slick-arrow.slick-next:hover, .slider__inner .slick-arrow.slick-next:focus {
  background-image: url(/images/new/arrow-white.svg);
}

.slick-dots {
  padding: 0;
  margin: 30px 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .slick-dots {
    margin: 40px 0;
  }
}

.slick-dots li {
  list-style: none;
  width: auto;
  height: auto;
  margin-right: 10px;
}

.slick-dots li button {
  font-size: 0;
  width: 6px;
  height: 16px;
  border: none;
  background-color: rgba(141, 50, 0, 0.1);
  border-radius: 20px;
}

.slider__inner.white .slick-dots li button {
  background-color: rgba(255, 255, 255, 0.2);
}

.slick-dots li.slick-active button {
  width: 6px;
  height: 30px;
  background-color: var(--btnCard);
  border-radius: 20px;
}

.slider__inner.white .slick-dots li.slick-active button {
  background-color: var(--whiteTextColor);
}

.slick-slide {
  margin-right: 10px;
  margin-left: 10px;
}

.section__partners {
  padding: 35px 0 40px 0;
}
@media screen and (min-width: 768px) {
  .section__partners {
    padding: 87px 0 120px 0;
  }
}
@media screen and (min-width: 1920px) {
  .section__partners {
    max-width: 1920px;
    margin: 0 auto;
  }
}

.partners__slider {
  position: relative;
  margin-top: 19px;
}
@media screen and (min-width: 768px) {
  .partners__slider {
    margin-top: 39px;
  }
}

.partners__item {
  background-color: var(--bgColor);
  border-radius: 20px;
  padding: 10px 20px;
}
@media screen and (min-width: 768px) {
  .partners__item {
    padding: 20px 40px;
  }
}

.partners__img {
  margin-left: auto;
  margin-right: auto;
}

.partners__slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -60px 0 0 0;
  z-index: 1;
  font-size: 0;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--accentColor);
  padding: 25px;
  transition: background-color var(--time) var(--duration);
}
.partners__slider .slick-arrow:hover, .partners__slider .slick-arrow:focus {
  background-color: var(--accentColor);
}

.partners__slider .slick-arrow.slick-prev {
  left: 7%;
  width: 20px;
  height: 20px;
  background-image: url(/images/new/arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image var(--time) var(--duration);
}
.partners__slider .slick-arrow.slick-prev:hover, .partners__slider .slick-arrow.slick-prev:focus {
  background-image: url(/images/new/arrow-white.svg);
}
@media screen and (min-width: 1920px) {
  .partners__slider .slick-arrow.slick-prev {
    left: 15%;
  }
}

.partners__slider .slick-arrow.slick-next {
  right: 7%;
  width: 20px;
  height: 20px;
  background-image: url(/images/new/arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  transition: background-image var(--time) var(--duration);
}
.partners__slider .slick-arrow.slick-next:hover, .partners__slider .slick-arrow.slick-next:focus {
  background-image: url(/images/new/arrow-white.svg);
}
@media screen and (min-width: 1920px) {
  .partners__slider .slick-arrow.slick-next {
    right: 15%;
  }
}

.section__seed {
  padding: 34px 15px 40px 15px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-image: url(../../images/seed/bg.jpg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--secondBgColor);
}
@media screen and (min-width: 768px) {
  .section__seed {
    padding: 34px 30px 40px 30px;
  }
}
@media screen and (min-width: 1200px) {
  .section__seed {
    padding: 105px 53px 124px 53px;
  }
}
@media screen and (min-width: 1920px) {
  .section__seed {
    padding: 105px 408px 124px 408px;
    max-width: 1920px;
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section__seed {
    background-image: url(../../images/seed/bg@2x.jpg);
  }
}

.seed__description {
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .seed__description {
    margin-top: 16px;
  }
}

@media screen and (max-width: 768px) {
  .description.hidden {
    display: none;
  }
}

.footer {
  position: relative;
  background-color: var(--bgColor);
}

.footer__inner {
  padding: 40px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 1200px) {
  .footer__inner {
    padding: 120px 0;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    flex-basis: calc(25% - 70px);
  }
}
.footer__logo .icon-logo {
  fill: #1f1b1c;
}

.info-prod__inner {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .info-prod__inner {
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .info-prod__inner {
    flex-basis: calc(50% - 70px);
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .footer__information {
    flex-basis: calc(50% - 15px);
  }
}
@media screen and (min-width: 1200px) {
  .footer__information {
    flex-basis: calc(50% - 35px);
  }
}

@media screen and (max-width: 767px) {
  .footer__products {
    margin-right: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer__products {
    flex-basis: calc(50% - 15px);
  }
}
@media screen and (min-width: 1200px) {
  .footer__products {
    flex-basis: calc(50% - 35px);
  }
}

@media screen and (min-width: 1200px) {
  .footer__contacts {
    flex-basis: calc(25% - 24px);
  }
}

.logo__description {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 15px;
}

.footer__title {
  font-weight: 600;
  font-size: 16px;
  color: var(--secondTextColor);
  margin-bottom: 26px;
}
@media screen and (min-width: 1200px) {
  .footer__title {
    font-size: 18px;
  }
}

.footer__item:not(:last-child) {
  margin-bottom: 10px;
}

.contacts__item {
  display: flex;
  align-items: center;
}
.contacts__item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts__wrapper div {
  display: flex;
  align-items: center;
}
.contacts__wrapper div svg {
  fill: var(--accentColor);
  margin-left: 3px;
}

.contacts__link {
  font-size: 16px;
  color: var(--secondTextColor);
}
.contacts__link.white {
  color: var(--whiteTextColor);
}

.contacts__call {
  font-weight: 700;
  font-size: 14px;
  text-decoration-line: underline;
  color: var(--accentColor);
  margin-top: 3px;
}

.footer__copyright {
  font-size: 14px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 17px;
  padding-top: 17px;
}

.back-to-top-wrapper {
  position: absolute;
  bottom: 0;
  right: 15px;
  padding: 30px 23px 61px 22px;
  background-color: var(--accentColor);
  border: none;
  border-radius: 30px 30px 0 0;
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  .back-to-top-wrapper {
    padding: 30px 23px 80px 22px;
    right: 3%;
  }
}
@media screen and (min-width: 1920px) {
  .back-to-top-wrapper {
    right: 15%;
  }
}

.back-to-top-link {
  pointer-events: all;
}

@media screen and (prefers-reduced-motion: no-preference) {
  html,
  body {
    scroll-behavior: smooth;
  }
}/*# sourceMappingURL=main.css.map */