.new__section {
    margin-top: 35px;
    margin-bottom: 40px;
    background-color: antiquewhite;

    @media screen and (min-width: $tablet) {
        margin-top: 87px;
        margin-bottom: 120px;
    }
}

.new__title {
    text-align: center;
}

.new__list {
    margin-top: 14px;
    @media screen and (min-width: $tablet) {
        margin-top: 39px;
    }
}

.new__item {
    position: relative;
    background-color: var(--bgColor);
    border-radius: 20px;
    padding: 31px 10px 10px 10px;
    width: 255px;
}

.new__img {
    margin: 0 auto 32px auto ;
}

.new__description {
    position: relative;
    background-color: rgba(140, 50, 19, 0.06);
    border-radius: 20px;
    padding: 20px 20px 25px 20px;
}

.description__title {
    font-weight: 600;
    font-size: 16px;
    color: var(--secondTextColor);
}

.description__lable {
    font-weight: 400;
    font-size: 14px;
    color: var(--secondBgColor);
    margin-bottom: 17px;
}

.description__price {
    font-weight: 700;
    font-size: 18px;
    color: var(--accentColor);
}

.description__quantity {
    font-weight: 400;
    font-size: 14px;
}