.new__section {
    padding: 35px 0 40px 0;

    @media screen and (min-width: $tablet) {
        padding: 87px 0 120px 0;
    }

    @media screen and (min-width: $desktop) {
        padding: 87px 30px 120px 30px;
    }
    @media screen and (min-width: $bigDesktop) {
        padding: 87px 250px 120px 250px;
    }

    &.background {
        background-color: var(--secondBgColor);
        @media screen and (min-width: $tablet) {
            padding-bottom: 105px;
        }
    }
}

.new__title {
    text-align: center;
}

.slider__inner {
    position: relative;
    margin-top: 14px;

    @media screen and (min-width: $tablet) {
        margin-top: 39px;
    }

    @media screen and (min-width: $desktop) {
        margin-left: auto;
        margin-right: auto;
        width: 885px;
    }
    @media screen and (min-width: $bigDesktop) {
        width: 1140px;
    }
}

.slider__item {
    position: relative;
    background-color: var(--bgColor);
    border-radius: 20px;
    padding: 31px 10px 10px 10px;
    @media screen and (max-width: $tablet) {
        box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.15);
    }
}

.new__img {
    margin: 0 auto 32px auto ;
}

.new__description {
    position: relative;
    background-color: rgba(140, 50, 19, 0.06);
    border-radius: 20px;
    padding: 20px 20px 25px 20px;
}

.description__title {
    font-weight: 600;
    font-size: 14px;
    color: var(--secondTextColor);

    @media screen and (min-width: $tablet) {
        font-size: 16px;
    }
}

.description__lable {
    font-weight: 400;
    font-size: 14px;
    color: var(--secondBgColor);
    margin-bottom: 17px;
}

.description__price {
    font-weight: 700;
    font-size: 18px;
    color: var(--accentColor);
}

.description__quantity {
    font-weight: 400;
    font-size: 14px;
}

.slick-track {
    display: flex;
}

.slick-list {
    overflow: hidden;
}

.slider__inner .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -70px 0 0 0;
    z-index: 1;
    font-size: 0;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--accentColor);
    padding: 25px;
    transition: background-color var(--time) var(--duration);

    &:hover,
    &:focus {
        background-color: var(--accentColor);
    }
}

.slider__inner .slick-arrow.slick-prev {
    left: -90px;
    width: 20px;
    height: 20px;
    background-image: url(/images/new/arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image var(--time) var(--duration);
    &:hover,
    &:focus {
        background-image: url(/images/new/arrow-white.svg);
    }
}

.slider__inner .slick-arrow.slick-next {
    right: -90px;
    width: 20px;
    height: 20px;
    background-image: url(/images/new/arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    transition: background-image var(--time) var(--duration);
    &:hover,
    &:focus {
        background-image: url(/images/new/arrow-white.svg);
    }
}

.slick-dots {
    padding: 0;
    margin: 30px 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    @media screen and (min-width: $tablet) {
        margin: 40px 0;
    }
}

.slick-dots li {
    list-style: none;
    width: auto;
    height: auto;
    margin-right: 10px;
}

.slick-dots li button {
    font-size: 0;
    width: 6px;
    height: 16px;
    border: none;
    background-color: rgba(141, 50, 0, 0.1);
    border-radius: 20px;
}

.slider__inner.white .slick-dots li button {
    background-color: rgba(255, 255, 255, 0.2);
}

.slick-dots li.slick-active button {
    width: 6px;
    height: 30px;
    background-color: var(--btnCard);
    border-radius: 20px;
}

.slider__inner.white .slick-dots li.slick-active button {
    background-color: var(--whiteTextColor);
}

.slick-slide {
    margin-right: 10px;
    margin-left: 10px;
}

