.btn {
    display: block;
    padding: 15px 0;
    margin: 0;
    background-color: var(--btnColor);
    border-radius: 90px;
    font-weight: 700;
    text-align: center;
    color: var(--whiteTextColor);
    width: 290px;
    border: none;
    cursor: pointer;

    @media screen and (min-width: $tablet){
        width: 220px;
    }
}

.about__btn {
    @media screen and (max-width:$tablet) {
      margin: 0 auto;
    }
}

.seed__btn {
    @media screen and (max-width:$tablet) {
    padding: 0;
    border: none;
    cursor: pointer;
    font-weight: 700;
    color: var(--whiteTextColor);
    background-color: transparent;

    span {
        font-size: 16px;
        text-decoration-line: underline;
    }

    .visible {
        display: none;
    }

    svg {
        margin-left: 8px;
    }

    .arrow-up {
        transform: rotate(180deg);
    }
    }

    @media screen and (min-width: $tablet) {
        display: none;
    }
}