.btn {
    display: block;
    padding: 15px 0;
    margin: 0;
    background-color: var(--btnColor);
    border-radius: 90px;
    font-weight: 700;
    text-align: center;
    color: var(--whiteTextColor);
    width: 290px;
    border: none;
    cursor: pointer;

    @media screen and (min-width: $tablet){
        width: 220px;
    }
}

.nav__btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    .menu-close {
        fill: var(--accentColor);
    }
    @media screen and (min-width: $desktop) {
        display: none;
    }
    .visible {
        display: none;
    }
}

.btn__shopping-cart,
.btn__comparison {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--secondAccentColor);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    svg {
        fill: var(--secondAccentColor);
    }

    &.white {
        border: 1px solid var(--whiteTextColor);
    svg {
            fill: var(--whiteTextColor);
        }
    }
    @media screen and (min-width: $desktop) {
        margin-left: 15px;
    }
}

.btn__comparison {
    margin-left: 11px;
    svg {
        fill: var(--secondAccentColor);
    }
    &.white {
        border: 1px solid var(--whiteTextColor);

        svg {
            fill: var(--whiteTextColor);
        }
    }
    @media screen and (min-width: $desktop) {
        margin-left: 15px;
    }
}

.btn__heart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;
    background-color: var(--secondAccentColor);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;

    &.white {
        background-color: transparent;
        border: 1px solid var(--whiteTextColor);
    }
    @media screen and (min-width: $desktop) {
        box-shadow: 0px 5px 14px rgba(140, 50, 19, 0.3);
    }

    &.format {
        @media screen and (max-width: 1199px) {
            display: none;
        }
    }
}

.zoom__btn {
    display: flex;
    align-items: center;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    &::before {
        display: block;
        content: '';
        width: 1px;
        height: 28px;
        background-color: rgba(0, 0, 0, 0.2);
        margin-right: 14px;
    }
}

.about__btn {
    @media screen and (max-width:$tablet) {
      margin: 0 auto;
    }
    @media screen and (min-width:$tablet) {
        margin-top: auto;
    }
}

.new__mainBtn {
    margin: 0 auto;
}

.seed__btn {
    @media screen and (max-width:$tablet) {
    padding: 0;
    border: none;
    cursor: pointer;
    font-weight: 700;
    color: var(--whiteTextColor);
    background-color: transparent;

    span {
        font-size: 16px;
        text-decoration-line: underline;
    }

    .visible {
        display: none;
    }

    svg {
        margin-left: 8px;
        fill: var(--whiteTextColor);
    }

    .arrow-up {
        transform: rotate(180deg);
    }
    }

    @media screen and (min-width: $tablet) {
        display: none;
    }
}

.choose__btn {
    @media screen and (max-width:1199px) {
        padding: 0;
        border: none;
        cursor: pointer;
        font-weight: 700;
        color: var(--whiteTextColor);
        background-color: transparent;

        span {
            font-size: 16px;
            text-decoration-line: underline;
        }

        .visible {
            display: none;
        }

        svg {
            margin-left: 8px;
            fill: var(--whiteTextColor);
        }

        .arrow-up {
            transform: rotate(180deg);
        }
    }

    @media screen and (min-width: $desktop) {
        display: none;
    }
}

.hero__wrapper {
    .hero__btn {
        @media screen and (max-width: 767px) {
            display: none;
        }
        margin-top: 23px;
        font-size: 16px;
    }
}

.hero__pic {
    .hero__btn {
        margin: 17px auto 0 auto;
        font-size: 16px;
        @media screen and (min-width: $tablet) {
            display: none;
        }
    }
}

.description__btn {
    position: absolute;
    right: 15%;
    bottom: 17%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--bgColor);
    border: none;
    border-radius: 50%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color var(--time) var(--duration);

    svg {
        fill: var(--btnCard);
        transition: fill var(--time) var(--duration);
    }

    &:hover,
    &:focus {
        background-color: var(--btnCard);
        svg {
            fill: var(--whiteTextColor);
        }
    }
}

.new__btn {
    position: absolute;
    top: 0;
    right: 5%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 15px;
    svg {
        fill: var(--btnCard);
    }
}

.footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--secondAccentColor);
    background-color: transparent;
    border-radius: 50%;
    margin-right: 6px;
    transition: background-color var(--time) var(--duration);
    svg {
        fill: var(--secondAccentColor);
        transition: fill var(--time) var(--duration);
    }

    &:hover,
    &:focus {
        background-color: var(--secondAccentColor);
        svg {
                fill: var(--whiteTextColor);
            }
    }

    &.white {
        border: 1px solid var(--whiteTextColor);
        svg {
                fill: var(--whiteTextColor);
            }
    }
}
