.section {
    margin: 0 auto;
    padding: 0 15px;

    @media screen and (min-width:$tablet) {
        padding: 0 30px;
    }

    @media screen and (min-width:$desktop) {
        padding: 0 45px;
    }
    @media screen and (min-width:$bigDesktop) {
        padding: 0 405px;
        max-width: 1920px;
    }
}