.title {
    font-weight: 700;
    font-size: 22px;
    color: var(--secondTextColor);

    @media screen and (min-width: $tablet) {
        font-size: 30px;
    }
    @media screen and (min-width: $desktop) {
        font-size: 45px;
    }

    .title__left {
        margin-right: 9px;
        @media screen and (min-width: $tablet) {
            width: 32px;
            height: 25px;
            margin-right: 13px;
        }
        @media screen and (min-width: $desktop) {
            margin-right: 17px;
        }
    }
    .title__right {
        margin-left: 9px;
        transform: rotate(180deg);

         @media screen and (min-width: $tablet) {
            width: 32px;
            height: 25px;
            margin-left: 13px;
        }

         @media screen and (min-width: $desktop) {
            margin-left: 17px;
        }
    }
    &.white {
        color: var(--whiteTextColor);
    }
}

.description {
    color: var(--textColor);
    span {
        font-weight: 700;
        color: var(--secondBgColor);
    }

    &:not(:last-child) {
        margin-bottom: 10px;
    }

    &.white {
        color: var(--whiteTextColor);
    }
}

